.bcds-react-aria-Link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--layout-margin-xsmall);
  font: var(--typography-regular-body);
  color: var(--typography-color-link);
  text-decoration: underline;
  text-underline-offset: var(--layout-padding-xsmall);
}

.bcds-react-aria-Link--Icon {
  padding-top: var(--layout-padding-small);
}
