.bcds-react-aria-Link {
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--layout-margin-xsmall);
  color: var(--typography-color-link);
  text-decoration: underline;
  text-underline-offset: var(--layout-padding-hair);
  cursor: pointer;
}

.bcds-react-aria-Link--Icon {
  display: inline-flex;
  align-items: center;
  align-self: center;
}

/* Small size */
.bcds-react-aria-Link.small {
  font: var(--typography-regular-small-body);
}

b .bcds-react-aria-Link.small,
strong .bcds-react-aria-Link.small {
  font: var(--typography-bold-small-body);
}

i .bcds-react-aria-Link.small,
em .bcds-react-aria-Link.small {
  font: var(--typography-italic-small-body);
}

/* Medium size */
.bcds-react-aria-Link.medium {
  font: var(--typography-regular-body);
}

b .bcds-react-aria-Link.medium,
strong .bcds-react-aria-Link.medium {
  font: var(--typography-bold-body);
}

i .bcds-react-aria-Link.medium,
em .bcds-react-aria-Link.medium {
  font: var(--typography-italic-body);
}

/* Large size */
.bcds-react-aria-Link.large {
  font: var(--typography-regular-large-body);
}

b .bcds-react-aria-Link.large,
strong b .bcds-react-aria-Link.large {
  font: var(--typography-bold-large-body);
}

i .bcds-react-aria-Link.large,
em .bcds-react-aria-Link.large {
  font: var(--typography-italic-large-body);
}

/* Hover state */
.bcds-react-aria-Link[data-hovered] {
  color: var(--surface-color-border-active);
}

/* Focus state */
.bcds-react-aria-Link[data-focus-visible] {
  outline: solid var(--layout-border-width-medium)
    var(--surface-color-border-active);
  outline-offset: var(--layout-margin-xsmall);
  border-radius: var(--layout-border-radius-small);
}

/* Disabled state */
.bcds-react-aria-Link[data-disabled] {
  color: var(--typography-color-disabled);
  cursor: not-allowed;
}

/* Heading styles */
h1 .bcds-react-aria-Link.small,
h1 .bcds-react-aria-Link.medium,
h1 .bcds-react-aria-Link.large {
  font: var(--typography-bold-h1);
}

h2 .bcds-react-aria-Link.small,
h2 .bcds-react-aria-Link.medium,
h2 .bcds-react-aria-Link.large {
  font: var(--typography-bold-h2);
}

h3 .bcds-react-aria-Link.small,
h3 .bcds-react-aria-Link.medium,
h3 .bcds-react-aria-Link.large {
  font: var(--typography-bold-h3);
}

h4 .bcds-react-aria-Link.small,
h4 .bcds-react-aria-Link.medium,
h4 .bcds-react-aria-Link.large {
  font: var(--typography-bold-h4);
}

h5 .bcds-react-aria-Link.small,
h5 .bcds-react-aria-Link.medium,
h5 .bcds-react-aria-Link.large {
  font: var(--typography-bold-h5);
}

h6 .bcds-react-aria-Link.small,
h6 .bcds-react-aria-Link.medium,
h6 .bcds-react-aria-Link.large {
  font: var(--typography-bold-h6);
}
