.bcds-Navbar {
  display: flex;
  flex-direction: row;
  padding: var(--layout-padding-none) var(--layout-padding-small);
  justify-content: space-around;
  background-color: var(--surface-color-menus-default);
  border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}

.bcds-Navbar--Container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 1100px;
  padding: var(--layout-padding-small) var(--layout-padding-none);
}

.bcds-Navbar--List ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--layout-margin-small);
  padding: var(--layout-padding-none);
  margin: var(--layout-margin-none);
}
