.bcds-Navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--layout-padding-none) var(--layout-padding-small);
  justify-content: space-around;
  background-color: var(--surface-color-menus-default);
  border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}

.bcds-Navbar--Container {
  display: inline-flex;
  flex-direction: row;
  gap: var(--layout-margin-small);
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: 1100px;
  padding: var(--layout-padding-small) var(--layout-padding-none);
}

.bcds-Navbar--Separator {
  width: var(--layout-border-width-small);
  height: 1.5rem;
  background-color: var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-small);
}
