.bcds-react-aria-Separator {
  padding: var(--layout-padding-none);
  border: none;
  border-radius: var(--layout-border-radius-small);
  background-color: var(--surface-color-border-default);
  align-self: stretch;
}

/* Vertical */
.bcds-react-aria-Separator.vertical {
  margin: var(--layout-margin-small) var(--layout-margin-none);
}

.bcds-react-aria-Separator.vertical.small {
  width: var(--layout-border-width-small);
}

.bcds-react-aria-Separator.vertical.medium {
  width: var(--layout-border-width-medium);
}

.bcds-react-aria-Separator.vertical.large {
  width: var(--layout-border-width-large);
}

/* Horizontal */
.bcds-react-aria-Separator.horizontal {
  margin: var(--layout-margin-none) var(--layout-margin-small);
}

.bcds-react-aria-Separator.horizontal.small {
  height: var(--layout-border-width-small);
}

.bcds-react-aria-Separator.horizontal.medium {
  height: var(--layout-border-width-medium);
}

.bcds-react-aria-Separator.horizontal.large {
  height: var(--layout-border-width-large);
}
