.bcds-Divider {
  color: var(--surface-color-border-default);
  margin: var(--layout-margin-medium);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}

/* Dashed orientation */
.bcds-Divider.dashed {
  border: var(--layout-border-width-small) dashed
    var(--surface-color-border-default);
}
