.bcds-Divider {
  color: var(--surface-color-border-default);
  margin: var(--layout-margin-medium);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}

/* Vertical orientation */
.bcds-Divider.vertical {
  transform: rotate(90deg);
  height: 100%;
}

/* Dashed style */
.bcds-Divider.dashed {
  border: var(--layout-border-width-small) dashed
    var(--surface-color-border-default);
}
